# Dependencias
node_modules/

# Build
dist/

# Variables de entorno y credenciales
.env
.env.*
*.local

# Sistema operativo
Thumbs.db
.DS_Store

# Editores
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
